<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filmy</title>
</head>
<body>
<h1>Dodaj film</h1>

    <form method="post">
        <p>
            <label for="nazwa">Tytół</label>
            <input type="text" name="nazwa"
                   placeholder= "np. Titanic">
            </input>
        </p>
        <p>
            <label for="rok">Rok</label>
            <input type="text" name="rok"
                   placeholder= "np. 2022">
            </input>
        </p>
        <p>
            <label for="rezyser">Reżyser</label>
            <input type="text" name="rezyser"
                   placeholder= "np. Pawlikowski">
            </input>
        </p>
        <p>
            <label for="operator">Operator</label>
            <input type="text" name="operator"
                   placeholder= "np. Kamiński">
            </input>
        </p>
        <p>
            <label for="producent">Producent</label>
            <input type="text" name="producent"
                   placeholder= "np. WB">
            </input>
        </p>

        <p>
            <button type="submit">Dodaj</button>
        </p>
    </form>
    <a href="http://localhost:5000/"><h2>Menu</h2></a>
</body>
</html>