<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filmy</title>
</head>
<body>
<h1>Dodaj {{ rodzaj }}</h1>


    <form method="post">
        <p>
            <label for="nazwa">Nazwa</label>
            <input type="text" name="nazwa"
                   placeholder= "np. {{ placeh }}">
            </input>
        </p>

        <p>
            <button type="submit">Dodaj</button>
        </p>
    </form>
    <a href="http://localhost:5000/"><h2>Menu</h2></a>
</body>
</html>