<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filmy - baza danych</title>
</head>
<body>
   <h1>Baza danych</h1>
   <a href="http://localhost:5000/directors"><h2>Reżyserowie</h2></a>
   <a href="http://localhost:5000/operators"><h2>Operatorzy</h2></a>
   <a href="http://localhost:5000/producers"><h2>Producenci</h2></a>
   <a href="http://localhost:5000/movies"><h2>Filmy</h2></a>
   <a href="http://localhost:5000/directors/create"><h2>Dodaj reżysera</h2></a>
   <a href="http://localhost:5000/operators/create"><h2>Dodaj operatora</h2></a>
   <a href="http://localhost:5000/producers/create"><h2>Dodaj producenta</h2></a>
   <a href="http://localhost:5000/movies/create"><h2>Dodaj film</h2></a>
</body>
</html>