<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{nazwa}}</title>
</head>
<body>
    <h1>{{nazwa}}:</h1>
    <div>
        {% for obiekt in obiekty %}
            <div>
                <p><b>#{{ obiekt.id }}</b></p>
                <p>{{ obiekt.name }}</p>
            </div>
        {% endfor %}
    </div>
    <a href="http://localhost:5000/"><h2>Menu</h2></a>
</body>
</html>